.play-screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-size: cover;
    /* 设置背景位置为水平居中、垂直顶部 */
    background: url("../../public/pokerbgbig.svg") center top;

}

.top-zone {
    flex: 1;
    /* Additional styling as needed */
}



.deck-zone {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
    justify-items: center;
    align-items: center;
    flex: 7;


}

.hand-card-zone {
    display: flex;
    justify-content: center;
    flex: 3;
    position: relative;
}

.hand-cards {
    display: grid;
    grid: repeat(1, 8em) / repeat(6,2em);
    position: relative;
}

.hand-cards:first-child {

    margin-left: 0; /* 第一张卡片不需要左边距 */
}

/* 根据卡片在容器中的顺序增加z-index */
.hand-cards:nth-child(1) { z-index: 1; }
.hand-cards:nth-child(2) { z-index: 2; }
.hand-cards:nth-child(3) { z-index: 3; }
.hand-cards:nth-child(4) { z-index: 4; }
.hand-cards:nth-child(5) { z-index: 5; }
.hand-cards:nth-child(6) { z-index: 6; }

.footer {
    padding: 20px;
    text-align: center;
    flex: 1;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Example positioning for users around the deck */
.user-0 { grid-row: 1; grid-column: 2; } /* Top */
.user-1 { grid-row: 2; grid-column: 3; } /* Right */
.user-2 { grid-row: 3; grid-column: 2; } /* Bottom */
.user-3 { grid-row: 2; grid-column: 1; } /* Left */
/* Add more as needed, or adjust dynamically with JavaScript */


