
.card {
    width: 6vw;
    height: 8.4vw;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    position:relative;
    background-color: rgba(255, 255, 255, 1)
}
.card:first-child {
    margin-left: 0; /* 第一张卡片不需要左边距 */
}


/* 根据卡片在容器中的顺序增加z-index */
.card:nth-child(1) { z-index: 1; }
.card:nth-child(2) { z-index: 2; }
.card:nth-child(3) { z-index: 3; }
.card:nth-child(4) { z-index: 4; }
.card:nth-child(5) { z-index: 5; }
.card:nth-child(6) { z-index: 6; }
/* 根据实际卡片数量继续添加规则 */


.value {
    position: absolute;
    top: 0.8vh;
    left: 0.5vw;
    font-size: 1.2em;
    font-weight: bold;
    padding:  0.1em;
}

.suit {
    position: absolute;
    top: 2.4vh;
    left: 0.5vw;
    font-size: 1.5em;
    font-weight: bold;
    padding:  0.1em;
}
